<link href='https://fonts.googleapis.com/css?family=Parisienne' rel='stylesheet'>
<div class="header">
    <ul>
        <li style="margin-left:1vw;"><a href="https://swayambhu.tech/"><img src="assets/Tilak no back.png" alt="logo"></a></li>
        <li id="link" style="font-family:Parisienne;"><a href="./contact-us">Contact Us</a></li>
        <li><a href="./"><img src="assets/Layer 2.png" alt="grow"></a></li>
        <li id="link" style="font-family:Parisienne;"><a href="https://swayambhu.tech/">Visit Swayambhu</a></li>
        <li style="padding-right:3vw;"><a href="https://swayambhu.tech/"><img src="assets/Tilak no back.png" alt="logo"></a></li>
    </ul>
</div> 