<footer class="footer-distributed">
 
    <div class="footer-left">
    
        <br><br>
    <h3>Swayambhu<span> Innovations</span></h3>
    
    <br>
    
    <p class="footer-company-name">SwayambhuInnovations &copy; 2019</p>
    </div>
    
    <div class="footer-center">
    
    <div>
    <i class="fa fa-map-marker"></i>
    <p><span>211019 ,Prayagraj</span> Uttar Pradesh, India</p>
    </div>
    
    <div>
    <i class="fa fa-phone"></i>
    <p>+91 96210 62111</p>
    </div>
    
    <div>
    <i class="fa fa-envelope"></i>
    <p><a href="mailto:swayambhu2121@gmail.com">swayambhu2121@gmail.com</a></p>
    </div>
    
    </div>
    
    <div class="footer-right">
    
    <p class="footer-company-about">
    <span>About the company</span>
    A tech startup working towards creating a better world with digitization.
    </p>
    
    <div class="footer-icons">
    
    <a href="https://www.facebook.com/swayambhu.innovations"><i class="fa fa-facebook"></i></a>
    <a href="https://twitter.com/_Swayambhu_/"><i class="fa fa-twitter"></i></a>
    <a href="https://www.linkedin.com/company/swayambhu-innovations/"><i class="fa fa-linkedin"></i></a>
    <a href="https://github.com/swayambhu-innovations"><i class="fa fa-github"></i></a>
    <a href="https://www.instagram.com/__.swayambhu.__/"><i class="fa fa-instagram"></i></a>

    
    </div>
    
    </div>
    
    </footer>
