<body>
    <app-header></app-header>
    <h2>Contact Us</h2>
    <div id="content-wrapper">
        <div id="text-wrapper">
                <h3>About Us</h3>
                <p>Sakha is an initiative from a group of young entrapreneurs to control the chaos of COVID and help everyone in need to take care of their friends and family.</p>
                <p>We are a startup run by a group of young and innovative student entrepreneurs, and we specialize in developing cloud based cross platform personalized organization management and monitoring platforms using A.I/ML and automation to provide a leverage point to our clients in terms of their client reach and business management.</p>
        </div>
        <div id="form-wrapper">
            <h3>Send us a message!</h3>
            <form [formGroup]="form" method="post" (ngSubmit) = "onSubmit()">
                <input [formControl]="name" type="text" name="name" placeholder="Name" (blur)="onBlur($event)" required>
                <input [formControl]="email" type="email" name="email" placeholder="Email" (blur)="onBlur($event)" required>
                <input [formControl]="subject" type="text" name="subject" placeholder="Subject" (blur)="onBlur($event)" required>
                <textarea [formControl]="message" name="message" placeholder="Message" (blur)="onBlur($event)" required></textarea>
                <button type="submit" [disabled]="isLoading && !form.valid" [ngClass]="isLoading || !form.valid ? 'disabled' : ''">Send Message</button>
            </form>
        </div>
    </div>
    <div class="modal" style="display:{{modal ? 'block' : 'none'}};" (click)="modal=false">
        <div id="submitted" (click)="$event.stopPropagation()">
            <h3 *ngIf="success">Message received!</h3>
            <p *ngIf="success">We will surely get back to you.</p>
            <h3 *ngIf="!success">Oops... An error occured</h3>
            <p *ngIf="!success">Please try again in some while.</p>
            <button (click)="modal=false">Okay</button>
        </div>
    </div>
    <app-footer></app-footer>
</body>