<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      href="http://fonts.googleapis.com/css?family=Cookie"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Antic&family=Raleway:wght@100&display=swap" rel="stylesheet">
  </head>

  <body>
    <app-header></app-header>
    <div class="container">
      <section id="sec1" class="child body1">
        <div class="content-left">
          <h1 style="color: white">
            SAKHA
          </h1><hr style="width:50%" />
          <P style="color: white"
            >An initiative from a group of young entrapreneurs to control the
            chaos of covid and help everyone in need to take care of their<span
              style="font-weight: 900"
            >
              . . .</span
            ><br /><span
              style="
                font: Poppins;
                color: rgb(255, 174, 0);
                font-size: xx-large;
              "
              ><br />
              <span style="color: rgb(243, 115, 10)">FRIENDS</span> &
              <span>FAMILY</span></span
            ></P
          >
          <div class="button">
            <a href="#sec2"
              ><div
                class="module-border-wrap"
                style="
                  background: linear-gradient(
                    to right,
                    rgb(248, 120, 60),
                    rgb(88, 238, 120)
                  );
                "
              >
                <div class="module">Vaccination Notifier</div>
              </div></a
            >
            <a href="./coming-soon"
              ><div
                class="module-border-wrap"
                style="
                  background: linear-gradient(
                    to right,
                    rgb(88, 238, 120),
                    rgba(0, 240, 255, 1)
                  );
                "
              >
                <div class="module">Request for oxygen</div>
              </div></a
            >
            <a href="./coming-soon"
              ><div
                class="module-border-wrap"
                style="
                  background: linear-gradient(
                    to right,
                    rgb(0, 163, 255),
                    rgb(219, 75, 255)
                  );
                "
              >
                <div class="module">Seek Consultancy</div>
              </div></a
            >

            <a href="./coming-soon"
              ><div
                class="module-border-wrap"
                style="
                  background: linear-gradient(
                    to right,
                    rgb(219, 75, 255),
                    rgb(199, 61, 36)
                  );
                "
              >
                <div class="module">Register an Emergency</div>
              </div></a
            >
            <a href="./coming-soon"
              ><div
                class="module-border-wrap"
                style="
                  background: linear-gradient(
                    to right,
                    rgb(199, 109, 36),
                    rgb(36, 185, 190)
                  );
                "
              >
                <div class="module">Register</div>
              </div></a
            >
            <a href="./coming-soon"
              ><div
                class="module-border-wrap"
                style="
                  background: linear-gradient(
                    to right,
                    rgb(10, 110, 240),
                    rgb(248, 120, 60)
                  );
                "
              >
                <div class="module">Request for Medicine</div>
              </div></a
            >
          </div>
        </div>

        <div class="right-content">
          <img class="img1" src="assets\Group 14.png" />
        </div>
        <span class="scroll-btn">
          <a href="#sec2">
            <span class="mouse">
              <span> </span>
            </span>
          </a>
          <p>scroll me</p>
        </span>
      </section>
      <section id="sec2" class="child body2">
        <div class="content">
          <h2 style="font-family: 'Raleway', sans-serif;">SAKHA</h2>
          <p style="font-family: 'Antic', sans-serif;">
            Register here to get automatically notified for vaccination from
            here,by filling the form ,Get notified by email whenever slots open
            up for 18 - 45 age group. <br />SMS support coming soon <br />Run by
            SWAYAMBHU INNOVATIONS <br />PS: Your data won't be shared or sold to
            anyone. Don't worry <br />
            Note: Given the high number of sign-ups, expect a delay of 24 - 48
            hours to get your first email
          </p>

          <div class="container2">
            <form [formGroup]="form" method="post" (ngSubmit) = "onSubmit()" id="contact" class="formbox" action="" method="post">
              <h3>Vaccination Notifier</h3> 
              
              <div class="wrapbox">
                <input
                  (blur) = "onBlurOrChange($event)"
                  [formControl]="fname"
                  placeholder="First Name"
                  type="text"
                  name="fname"
                  tabindex="1"
                  required
                  
                /><input
                  (blur) = "onBlurOrChange($event)"
                  [formControl]="lname"
                  placeholder="Last Name"
                  type="text"
                  name="lname"
                  tabindex="1"
                  required
                  
                />
              </div>
              <div class="wrapbox">
                <input
                  (blur) = "onBlurOrChange($event)"
                  [formControl]="contact"
                  name="contact"
                  placeholder="Contact No."
                  tabindex="1"
                  required
                  
                /><input
                  (blur) = "onBlurOrChange($event)"
                  [formControl]="email"
                  placeholder="Email"
                  type="email"
                  name="email"
                  tabindex="1"
                  required
                  
                />
              </div>
              <div class="wrapbox">
                <select [formControl]="state" name="state" (blur)="onBlurOrChange($event)" (change)="populateCity($event, $event.target.value)">
                  <option value="invalid" selected>Select State</option>
                  <option *ngFor="let s of State" [value]="s">{{s}}</option>
                </select>
                <select [formControl]="city" name="city" (blur)="onBlurOrChange($event)" (change) = "onBlurOrChange($event)">
                  <option value="invalid">Select City</option>
                  <option *ngFor="let c of dropdownCity" [value]="c">{{c}}</option>
                </select>
                
              </div>

              <div class="wrapbox">
                <input
                  name = "pincode"
                  [formControl] = "pincode"
                  (blur) = "onBlurOrChange($event)"
                  placeholder="Pincode (Optional)"
                  type="text"
                  tabindex="1"
                  
                /><input
                  name = "locality"
                  [formControl] = "locality"
                  (blur) = "onBlurOrChange($event)"
                  placeholder="Locality (Optional)"
                  type="text"
                  tabindex="1"
                  
                />
              </div>
              <button class="submitbutton" [disabled]="isLoading && !form.valid" [ngClass]="isLoading || !form.valid ? 'disabled' : ''">SUBMIT</button>
            </form>
          </div>
        </div>
      </section>
      <div class="modal" style="display:{{modal ? 'block' : 'none'}};" (click)="modal=false">
        <div id="submitted" (click)="$event.stopPropagation()">
            <h3 *ngIf="success">Response received!</h3>
            <p *ngIf="success">We will surely get back to you.</p>
            <h3 *ngIf="!success">Oops... An error occured</h3>
            <p *ngIf="!success">Please try again in some while.</p>
             <button (click)="modal=false">Okay</button> 
        </div>
    </div>
      <section class="child"><app-footer></app-footer></section>
    </div>
  </body> 
</html>
